<div class="row mt-2">
    <div class="container pl-0">
        <button class="btn btn-primary  rounded mb-2" (click)="openRankAddModal(scout)" [disabled]="lastRank">Add Rank
        </button>
    </div>
    <table class="table sortable" id="Ranks" style="width: 60%;">
        <thead>
            <tr>
                <th style="width: 1%;">Active</th>
                <th style="width: 3%;">Rank</th>
                <th style="width: 3%;">Completed On</th>               
            </tr>
        </thead>
        <tbody>           
            <tr *ngFor="let rank of ranks" class="item">
                <td><input type="checkbox" [checked]="rank.activeRank" class="form-check-input ml-2"> </td>
                <td>{{rank.rankName}}</td>
                <td>{{rank.created | date}}</td>
            </tr>
        </tbody>
    </table>
   
</div>
