<div class="text-center">
    <h2 class="font-weight-bold" >{{pagination?.totalItems}} Active Scouts  </h2>
</div>
<div class="container mt3">
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadScouts()" autocomplete="off">
        <div class="form-group">
            <label>LastName: </label>
            <input type="text" class="from-control ml-1" style="width: 140px;" name="lastName"
                [(ngModel)]="searchParams.lastName">
        </div>
        <div class="form-group px-2">
            <label>FirstName: </label>
            <input type="text" class="from-control ml-1" style="width: 140px;" name="firstName"
                [(ngModel)]="searchParams.firstName">
        </div>
        <div class="form-group px-2">
            <label>Patrol: </label>
            <select name="patrolId" [(ngModel)]="searchParams.patrolId" style="width: 160px;height: 34px;" class="form-control ml-1">
                <option *ngFor="let patrol of patrols" [value]="patrol.id">
                    {{patrol.display}}
                </option>
            </select>
        </div>
        <div class="form-group px-2">
            <label>Show: </label>
            <select name="active" [(ngModel)]="searchParams.active" style="width: 110px;" class="form-control ml-1">
                <option *ngFor="let active of activeList" [value]="active.value">
                    {{active.display}}
                </option>
            </select>
        </div>

        <button class="btn btn-primary ml-1" type="submit">Find scout</button>
        <!-- <button class="btn btn-info ml-1" (click)="resetFilter()" type="submit">Reset Filter</button> -->
        <!-- <div class="ml-3">
            <div class="btn-group float-right">
                <button type="button" name="orderBy" (click)="loadScouts()" btnRadio="Name"
                    [(ngModel)]="searchParams.orderBy" class="btn btn-primary">By Name</button>

                <button type="button" name="orderBy" (click)="loadScouts()" btnRadio="patrolname"
                    [(ngModel)]="searchParams.orderBy" class="btn btn-primary">By Patrol</button>
            </div>
        </div> -->
    </form>
</div>

<div class="row">
    <div *ngFor="let scout of scouts$ | async" class="col-2" >
        <app-scout-card [scout]='scout'></app-scout-card>
    </div>
</div>

<!-- <div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)" 
        previousText="&lsaquo;"
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div> -->







