<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card border-primary div-border">
            <div class="card-header">
                <h3 class="text-center text-primary mt-2">Add New Scout</h3>
            </div>
            <div class="card-body" id="registerCard">
                <form [formGroup]='scoutAddForm' (ngSubmit)="scoutAddForm.valid && addScout()" autocomplete="off">                   
                    
                    <div class="form-group">
                        <app-text-input [formControl]="scoutAddForm.controls['lastName'] " 
                        [label]='"Lastname"' >
                        </app-text-input>
                    </div>
                    <div class="form-group">
                        <app-text-input [formControl]="scoutAddForm.controls['firstName']" [label]='"Firstname"'>
                        </app-text-input>
                    </div>
                    <div class="form-group">
                        <app-date-input [formControl]="scoutAddForm.controls['dateOfBirth']" [label]='"Date of Birth"'>
                        </app-date-input>
                    </div>
                    <div class="form-group">
                        <app-date-input [formControl]="scoutAddForm.controls['rechartedDate']" [label]='"Recharted Date"'>
                        </app-date-input>
                    </div>
                    <div class="form-group">
                        <app-checkbox-input [formControl]="scoutAddForm.controls['active']" [label]='"Active"'>
                        </app-checkbox-input>                       
                    </div>
                    <div class="form-group">
                        <app-date-input [formControl]="scoutAddForm.controls['activeSinceDatetime']" [label]='"Active Since"'>
                        </app-date-input>
                    </div>    
                    <div class="form-group">
                        <label class="text-muted ">Patrol</label>
                        <select  name="patrolId" [formControl]="scoutAddForm.controls['patrolId']"  
                            class="form-control ml-1" >
                            <option value="0"  selected >No Assigned Patrol</option>
                            <option *ngFor="let patrol of patrols" [value]="patrol.id">
                                {{patrol.display}}
                            </option>
                        </select>
                    </div>               
                   
                    <div class="text-center">
                        <button [disabled]='!scoutAddForm.valid' class="btn btn-primary mr-2 rounded-pill"
                            type="submit">Add
                        </button>
                        <button class="btn btn-outline-warning mr-2 rounded-pill" type="button"
                            (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>