
<div class="row">
    <table class="table sortable" id="Roles">
        <thead>
            <tr>
                <th style="width: 30%;">User</th>
                <th style="width: 40%;">Active Roles</th>
                <th style="width: 15%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="item">
                <td>{{user.firstName}} {{user.lastName == 'Admin' ? '' : user.lastName}}</td>
                <td>{{user.roles}}</td>
                <td class="text-center"><button (click)="openRolesModal(user)"
                        class="btn btn-sm btn-primary rounded">Edit Roles</button></td>
            </tr>
        </tbody>
    </table>
</div>