<div class="container">
    <div  class="text-center" *ngIf="!registerMode">
        <div >
            <img src="../../assets/logo.jpg" alt="Troop 425">
        </div>
        <div >
            <button class="btn btn-primary btn-lg" (click)="registerToggle()">Registration</button>
        </div>
    </div>

    <div class="container text-center" style="margin-top: 100px" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister) ="cancelRegisterMode($event)" ></app-register>
            </div>
        </div>
    </div>

</div>