<ng-container>
    <button class="btn btn-outline-primary mr-3" (click)="getNotFoundError()">Test Not Found Error</button>
    <button class="btn btn-outline-primary mr-3" (click)="getServerError()">Test Server Error</button>
    <button class="btn btn-outline-primary mr-3" (click)="getValidationError()">Test Validation Error</button>
    <button class="btn btn-outline-primary mr-3" (click)="getBadRequestError()">Test Bad Request Error</button>
    <button class="btn btn-outline-primary mr-3" (click)="getAuthError()">Test Auth Error</button>

    <div class="row mt-5" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>
</ng-container>