<form #registerForm='ngForm' (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input name="username" [(ngModel)]="model.username" placeholder="Username" type="text" class="form-control">
    </div>
    <div class="form-group">
        <input name="password" [(ngModel)]="model.password" placeholder="Password" type="password" class="form-control" autocomplete="off">
    </div>
    <div class="text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>