<div class="">
    <button class="btn btn-primary btn-sm rounded relocateButton"  (click)="addNewHandler()">Add New</button>
</div>
<ag-grid-angular 
    #agGrid 
    id="myGrid" 
    style="width: 860px; " 
    class="ag-theme-alpine" 
    [pagination]="true"
    [paginationPageSize]="paginationPageSize" 
    [rowData]="rowData" 
    [domLayout]="domLayout" 
    [animateRows]="true"
    [columnDefs]="columnDefs" 
    [defaultColDef]="defaultColDef" 
    [gridOptions]="gridOptions" 
    [frameworkComponents]="frameworkComponents"
    (cell-clicked)="onCellClicked($event)"
    [getRowNodeId]="getRowNodeId"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>
<div class="container mt-3" style="padding-left: 10px; ">
    <div class="d-flex  ">
        <div class=" mr-4 pl-1">
            <h5><strong> Total Credit:</strong> {{totalCredit | currency }} </h5>
        </div>
        <div class="mr-4">
            <h5><strong>Total Debit: </strong>{{TotalDebit | currency}} </h5>
        </div>
        <div class="" [ngStyle]="{'color': getColor(total)}">
            <h5><strong>Total: </strong> {{total | currency}}</h5>
        </div>
    </div>


</div>