#transactions {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse:collapse;
  width: 100%;
  border: 1px solid rgb(163, 163, 163); 
}

#transactions td, #transactions th {
  border: none;    
}

#transactions tbody tr:nth-child(even){background-color: #f2f2f2;}  
#transactions tbody tr:hover {background-color: #ddd;}
#transactions th:hover {background-color: rgb(214, 215, 219);}

#transactions th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #e8e8e8;
  color: black;
  cursor: pointer;  
}


#transactions td {
  font-size: 12px; 
}

#transactions tfoot {
  background-color: whitesmoke;
 }
@media print {
  :host {
    display: none;
    color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
  }
}

