<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card border-primary div-border">
            <div class="card-header">
                <h3 class="text-center text-primary mt-2">Add New Adult Member</h3>
            </div>
            <div class="card-body" id="registerCard">
                <form [formGroup]='adultAddForm' (ngSubmit)="adultAddForm.valid && addAdult()" autocomplete="off">
                    <div class="form-group">
                        <app-text-input [formControl]="adultAddForm.controls['lastName'] " [label]='"Lastname"'>
                        </app-text-input>
                    </div>
                    <div class="form-group">
                        <app-text-input [formControl]="adultAddForm.controls['firstName']" [label]='"Firstname"'>
                        </app-text-input>
                    </div>
                    <div class="form-group">
                        <app-date-input [formControl]="adultAddForm.controls['rechartedDate']"
                            [label]='"Recharted Date"'>
                        </app-date-input>
                    </div>
                    <div class="form-group">
                        <app-checkbox-input [formControl]="adultAddForm.controls['active']" [label]='"Active"'>
                        </app-checkbox-input>
                    </div>
                    <div class="form-group">
                        <app-date-input [formControl]="adultAddForm.controls['activeSinceDatetime']"
                            [label]='"Active Since"'>
                        </app-date-input>
                    </div>
                    <div class="text-center">
                        <button [disabled]='!adultAddForm.valid' class="btn btn-primary mr-2 rounded-pill"
                            type="submit">Add
                        </button>
                        <button class="btn btn-outline-warning mr-2 rounded-pill" type="button"
                            (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>