<div class="container" style="margin-top: 60px;">
    <div class="d-flex justify-content-center h-100">
        <div class="card border-primary div-border">
            <div class="card-header">
                <h3 class="text-center text-primary mt-2">Login</h3>
            </div>
            <div class="card-body" id="forgotPassCard">                
                <form #loginForm='ngForm' class="" (ngSubmit)="login()" autocomplete="off">
                    <div class="from-group">
                        <input name="username" [(ngModel)]="model.username" placeholder="Username" type="text"
                            class="form-control mr-sm-2 mt-2">
                    </div>
                    <div class="from-group mt-2">
                        <input name="password" [(ngModel)]="model.password" placeholder="Password" type="password"
                            class="form-control mr-sm-2" autocomplete="off">
                    </div>
                    <div class="text-center mt-3">
                        <button [disabled]='!loginForm.valid' class="btn btn-primary rounded justify-content-right" type="submit">Login</button>
                        <button class="btn btn-outline-warning rounded ml-2" type="button" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="card-footer ">
                <div class="d-flex justify-content-center links">Don't have an account?&nbsp;<a [routerLink]="['/register']"> Sign Up</a></div>           
                <a routerLink='/forgot-password' routerLinkActive='active'>Forgot your password</a>
                </div>
            </div>
        </div>
    </div>