<div class="card mb-4">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="{{scout.photoUrl || './assets/user.png'}}" alt="{{scout.firstName}}">
         <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/scouts/{{scout.memberId}}" 
                placement="top" tooltip="Transactions">
                    <i class="fa fa-table"></i>
                </button>
            </li>    
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/scout/edit/{{scout.memberId}}"
                placement="top" tooltip="Profile">
                    <i class="fa fa-id-card-o"></i>
                </button>
            </li>             
        </ul> 
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"> 
            <i class="fa fa-user mr-2"></i>                      
           {{scout.firstName + ' ' + scout.lastName}}, {{scout.age}}
        </h6>
        <p class="card-text text-center text-muted">
           {{scout.patrolName}}
        </p>
    </div>
</div>
