<div class="row" *ngIf="scout" id="printScreenDiv">
    <div class="col-3">
        <div class="card">
            <img src="{{scout.photoUrl || './assets/user.png'}}" alt="{{scout.firstName}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="text-center font-weight-bold">
                    {{charteredOrganization}}
                </div>
                <div class="text-center font-weight-bold mt-1">
                    {{troop}}
                </div>               
                <div class="text-center font-weight-bold mt-2">
                    {{troopLocation}}
                </div>
                 <hr />
                <div class=" mt-1"><strong> Scout :</strong>
                    {{scout.firstName}} {{scout.lastName}}
                </div>
                <div class=" mt-1"><strong>Age : </strong>
                    {{scout.age}}
                </div>
                <div class=" mt-1"><strong>Recharted Date : </strong>
                    {{scout.rechartedDate | date}}
                </div>
                <div class=" mt-1">
                    <strong>Active : </strong>
                    {{scout.active == true ? 'Yes' : 'No'}} since
                    {{scout.activeSinceDatetime | timeago}}
                </div>
                <div class=" mt-1">
                    <strong>Rank : </strong>
                    {{scout.rankName}}
                </div>
                <div class=" mt-1 mb-2">
                    <strong>Patrol : </strong>
                    {{scout.patrolName}}
                </div>
            </div>            
        </div>
    </div>
    <div class="col-8">

        <tabset class="member-tabset">
            <tab heading='Transactions'>
                <app-transactions [transactions]="scout.transactions"></app-transactions>
            </tab>
            
        </tabset>
    </div>
</div>